
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-top: 20px;
}

h1 {
    font-size: 70px;
    padding: none;
    margin: 0px;
    margin-top: 80px;
    

}

h2 {
    font-size: 50px;
}

.social-media {
    
}

body {
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Peddana', serif;
    /* font-size: 24px; */
    letter-spacing: 0em;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 150px;
}

.main-section {
    text-indent: 1em;
    color: darkgray;
    font-size: 26px;
    line-height: 20px;
}

.recipe-list {
    width: 960px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Comic Neue', cursive;
}

.notepad {
    background-image: url("./assets/notepad.PNG");
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
    line-height: 2px;
    font-family: 'Peddana', serif;
    font-size: 20px;
    letter-spacing: 0em;
    color: darkgray;
}

img {
    width: 100%;
}

#left-logo {
    line-height: 5px;
}

h1 {
   line-height: 1px;
   padding-top: 20px;
}

ul {
    list-style: none;
}

.line-through {
    text-decoration-line: line-through;

}

.author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 225px;
    padding-top: 0px;
    border-top: darkgray 5px solid;
    margin-top: 40px;

}

h3 {
    font-style: bold;
    color: black;
    margin: 0px;
}

.author-blurb {
    font-size: 26px;
    font-family: 'Peddana', serif;
    color: darkgray;
    width: 625px;
    line-height: 20px;
    padding-left: 15px;
}